/* if you want to go back to the old panels */

.panels__5e434 {
    left: 80px !important;
    width: calc(100% - 90px) !important;
    box-sizing: border-box !important;
    z-index: 10 !important;
}

